@charset "UTF-8";
.b-red {
  border: 1px solid red;
}

.b-blue {
  border: 1px solid blue;
}

.b-pink {
  border: 1px solid pink;
}

html {
  font-size: 16px;
  font-family: 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", sans-serif;
  background: linear-gradient(#e6d364, #6de171);
}
html body {
  max-width: 560px;
  margin-inline: auto;
}
html body main {
  background: #effcfb;
  position: relative;
}
html body main .hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../images/hero-bg.png");
  overflow: hidden;
}
html body main .hero .hero-img {
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  position: absolute;
  right: 0%;
  top: 30%;
  margin-top: 3%;
  overflow: hidden;
  z-index: 15;
}
html body main .hero .hero-sell {
  position: absolute;
  top: 22%;
  left: 3vw;
  font-size: clamp(1.875rem, 0.8967rem + 4.3478vw, 2.5rem);
  min-height: 0vh;
  font-weight: bold;
  color: #665d51;
  z-index: 20; /* 背面よりも手前に表示するために値を増やしました */
}
html body main .hero .hero-sell::after {
  content: "";
  width: 120px;
  height: 120px;
  background: #eabd3a;
  display: block;
  position: absolute;
  border-radius: 3px;
  z-index: -1; /* テキストよりも背面に表示するために値を負の数にしました */
  top: -30px;
  left: -5px;
}
html body main .hero .hero-copy {
  position: relative;
  display: inline-block;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1rem, 0.1196rem + 3.913vw, 1.5625rem);
  font-weight: bold;
  color: #665d51;
  z-index: 10;
}
html body main .hero .hero-copy::after {
  content: "";
  width: 100px;
  height: 100px;
  background: #eabd3a;
  border-radius: 3px;
  display: block;
  position: absolute;
  /* テキストよりも背面に表示するために値を負の数にしました */
  z-index: -1;
  transform: translateY(-50%);
  top: 12px;
  right: -10px;
}
html body main .hero .h1 {
  position: absolute;
  display: block;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Monomaniac One", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(131, 88, 9);
  line-height: 1.7rem;
}
html body main section {
  margin-top: 3rem;
}
html body main section img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
html body main section .card .h2 {
  margin-top: 1rem;
  margin-inline: auto;
  width: 80%;
  font-size: 1.1rem;
  font-weight: bold;
  color: #665d51;
  border-bottom: 3px solid rgb(140, 54, 5);
  text-align: center;
  padding-bottom: 0.5rem;
}
html body main section .card .h2 span {
  font-size: 1.5em;
  font-weight: bold;
  color: #eabd3a;
}
html body main section .card .comment {
  margin-top: 1rem;
  width: 70%;
  margin-inline: auto;
  line-height: 1.4;
}
html body main .to-buy {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem 0;
  background: red;
  border-radius: 8px;
  position: sticky;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  font-weight: bold;
  color: aliceblue;
  font-size: 0.8rem;
}
html body .footer {
  background: #dedfdf;
  padding: 1rem 0;
  text-align: center;
}
html body .footer .footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .footer .footer-div img {
  width: 80px;
}/*# sourceMappingURL=style.css.map */